$min-width: 320px;
$col-xxl-min-width: 1920px;
$col-mxl-min-width: 1500px;
$col-xl-min-width: 1200px;
$col-lg-min-width: 992px;
$col-md-min-width: 768px;
$col-sm-min-width: 576px;

$blue-color: #039be5;
$gray-color: #636363;

$main-background-color: #e9ecef;
$header-background-color: $gray-color;
$button-background-color: $gray-color;

$main-text-color: #212529;
