@import "mixins";
@import "variables";

body {
  
  background: $main-background-color;
  font-size: 15px;
  min-width: $min-width;
  font-family: sans-serif;
  margin: 0px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
